@import url(https://fonts.googleapis.com/icon?family=Material+Icons);



*
{
    margin: 0;
    padding: 0;
}


._cropper, .cropper__content
{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 700px;
    justify-content: space-around;
    margin: auto;

}


._cropper ._cropper__save
{
    display: none;
}

._cropper div
{
    display: flex;
    justify-content: space-evenly;
}


._cropper canvas
{
    justify-self: start;
    align-self: center;
}


._cropper input, label, button
{
    align-self: center;
    outline: none;
    text-align: center;
}

._cropper button
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

._cropper button span
{
    width: 50%;
    text-align: left;
    display: flex;
    height: 100%;
    align-items: center;
}

._cropper .material-icons
{
    width: 20%;
    text-align: center;
    transition: transform .2s ease;
}

._cropper input[type="file"]
{
    display: none;
}

._cropper button, label
{

    background: #30a2f0;
    border: none;
    border-radius: 100vw;
    width: 30%;
    height: 30px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 900;
    font-size: .8rem;
    cursor: pointer;

}

label
{
    display: flex;
    align-items: center;
    justify-content: center;
}


._cropper button:hover .material-icons,
._cropper label:hover .material-icons
{
    transform: translateY(-15%);
}


._canvas
{
    border: 1px solid black;
    display: none;

}


.show__canvas > ._canvas,
.show__image > ._canvas
{
    display: block;
    z-index: 9;

}


.show__canvas
{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.blur__canvas
{
    content: '';
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    filter: blur(10px);
}

.show__canvas ._cropper__save
{
    display: block;
}
