

nav
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;



}


main
{
    margin-top: 15vh;
}
